*{
  box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.Container{
  max-width: 1280px;
  margin: auto;
}
.Header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.logo {
  height: 20px;
  width: 135px;
}
.Head-nav {
  gap: 40px;
}
.Head-nav a {
  text-decoration: none;
  margin: 10px;
  font-size: larger;
}
.shop, .about-us{
    color: rgb(137,135,161);
}
.home{
    font-weight: 700;
    color: rgb(37,37,51);
}
.cart{
color: rgb(37,37,51);
}
/* @media screen and (max-width: 576px){
  .logo{
    
  }
    
} */

/* Hero section */
.Hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
  margin: 50px auto;
padding: 50px;
}
.banner-left h1{
  font-weight: bold;
  font-size: 65px;
  gap: 60px;
}
.banner-left span{
color: rgb(232,91,8);
}
.banner-left p{
  color: rgb(123,125,127);
  font-size: 22px;
  margin-bottom: -0px;
}
