*{
  box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.Container{
  max-width: 1280px;
  margin: auto;
}
.Header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.logo {
  height: 20px;
  width: 135px;
}
.Head-nav {
  gap: 40px;
}
.Head-nav a {
  text-decoration: none;
  margin: 10px;
  font-size: larger;
}
.shop, .about-us{
    color: rgb(137,135,161);
}
.home{
    font-weight: 700;
    color: rgb(37,37,51);
}
.cart{
color: rgb(37,37,51);
}
/* @media screen and (max-width: 576px){
  .logo{
    
  }
    
} */

/* Hero section */
.Hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
  margin: 50px auto;
padding: 50px;
}
.banner-left h1{
  font-weight: bold;
  font-size: 65px;
  gap: 60px;
}
.Highlight{
color: rgb(232,91,8);
}
.sub-title{
  color: rgb(123,125,127);
  font-size: 22px;
  
}
.Flower{
  text-align: center;
  padding: 40px 20px;
}
.our-flower{
  font-size: 50px;
}
.flower-grid{
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding: 20px;
  font-family: "Inter", sans-serif;
}
.flower-card {

  text-align: center;
}

.flower-card button {
  background: rgb(232,91,8);
  color: #fff;
  border: none;
  padding: 5px 10px;
width: 275px;
height: 35px;
  margin-top: 5px;
}
.Flower h4{
font-weight: 400;
}
.Flower button{
  font-size: medium;
}